#gists {
  ul{
    margin-bottom: 20px;
    padding : 10px;
    background-color: #E3E3E3;
    border-radius: 3px;
    text-decoration: none;
    list-style: none;
    box-shadow: 1px 1px 3px #C8C8C8;
  }
}

#header{
  margin-bottom: 20px;
}

#username{
  padding:5px;
  border: solid 1px #BDBDBD ;
  border-radius: 2px;
  margin-right: 5px;
}

#search-box{
  display:flex;
  justify-content: center;
}
