<div class="container">
  <div class="text-center small-padded">
    <h1>GistMeUp!</h1>
    <h4>Your unofficial gists manager</h4>
    <div id="search-box" class="small-padded">
      <input type="text" id="username" placeholder="Username">
      <button class="btn btn-sm btn-primary" id="search">
        Search
      </button>
    </div>
    <div class="hidden btn btn-primary" id="back-button">
      Back to all gists
    </div>
  </div>
  <div class="tabs">
      <a id="all-users-gists" class="tab active" data-target="#all_gists">
        <h3>All the latest gists</h3>
      </a>
      <a id="your-gists" class="tab" data-target="#current_user_gists">
        <h3>Your gists</h3>
      </a>
  </div>
  <div class="tab-content" id="all_gists">
    <div id="gists">
      <a id="create-gist" data-target="#new_gist">
        <h3><i class="fa fa-plus-circle"></i> New gist</h3>
        <p>(anonymous)</p>
      </a>
      <div class= "hidden" id="new_gist">
        <form class="form" id="submit-gist">
          <div class="form-group">
            <label>Description</label>
            <input type="text" id="description" class="form-control">
          </div>
          <div class="form-group">
            <label>Content:</label>
            <textarea id="new-gist-content" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
          <div id="result"></div>
        </form>
      </div>
      <div id="header" class="text-center">
      </div>
      <div id="content">
        <% @gists.each do |gist| %>
          <%= render 'shared/card', gist: gist %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-content hidden" id="current_user_gists">
    <% if user_signed_in? %>
      <% @current_user_gists.each do |gist| %>
        <%= render 'shared/card', gist: gist %>
      <% end %>
    <% else %>
      <%= link_to omniauth_authorize_path(:user, :github) do %>
        <div class="text-center">
         <h4>First, sign in with GithHub</h4>
          <i class="fa fa-github fa-5x"></i>
        </div>
      <% end %>
    <% end %>
    <div class="padded"></div>
  </div>
</div>



