<div class="container">
  <div class="text-center small-padded">
    <h1>GistMeUp!</h1>
    <h4>Find the perfect Gist</h4>
    <div id="search-box" class="small-padded">
      <input type="text" id="username" placeholder="Username">
      <button class="btn btn-sm btn-primary" id="search">
        Search
      </button>
    </div>
  </div>

  <div id="gists">
    <div id="header" class="text-center">

    </div>

    <div id="content">
      <h3>All the latest gists</h3>
      <% @gists.each do |gist| %>
        <%= render 'shared/card', gist: gist %>
      <% end %>
    </div>

  </div>


  <div class="current-user-gists">
    <h3>Your gists</h3>
    <% if user_signed_in? %>
      <% @current_user_gists.each do |gist| %>
        <%= render 'shared/card', gist: gist %>
      <% end %>
    <% else %>
      Please sign in first
    <% end %>
  </div>

</div>
