.card{
  min-height: 10em;
  padding: 0px 0px 10px 0px;
  margin-bottom: 5px ;
  box-shadow: 1px 1px 3px #B6B6B6;
  margin-bottom: 2em;

  .card-head{
    min-height: 3em;
    display: flex;
    align-items: center;
    padding: 10px;
    .picture{
      flex:start;
      margin-right: 10px;
    }
    .description{
      flex:1;
      margin-left: 10px;
      p{
        margin-bottom: 0px;
      }
    }
    .language{
      p{
        margin-bottom: 0px;
      }
    }
  }
  .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }
}

#delete{
  border-radius: 50%;
}

.pannel-overflow{
  max-height: 15em;
  overflow: scroll;
}

.pannel-body{
  margin-bottom: 0;
}
